// =============================================================================
// PROJECT COLOR SCHEME
// =============================================================================

$alabaster: #F8F8F8;
$alabaster2: #FAFAFA;
$approx: #FEFEFE;
$mercury: #E2E2E2;
$mercury2: #E5E5E5;
$grey: #7F7F7F;
$grayNurse: #DFE1E0;
$dustyGray: #969696;
$gallery: #ECECEC;
$silver: #CBCBCB;
$mineShaft: #292929;
$wildSand: #f6f6f6;
$shark: #2E2E2F;
$scorpion: #5D5D5D;
$atlantis: #76BD26;
$olivine: #8EB95D;
$christi: #5EA30F;
$christiDark: #589C0C;
$bilbao: #147D1F;
$jungleGreen: #27BC60;
$curiousBlue: #1FADE3;
$pictoBlue: #45BEF0;
$sanMarino: #4472AF;
$steelBlue: #6082C0;
$wedgewood: #4D76A1;
$stTropaz: #2A5C9E;
$chetwodeBlue: #83A5D8;
$supernova: #F8C908;
$supernova2: #C6A006;
$orange: #FB7600;
$alizarinCrimson: #E42D3A;
$orange: #FB7600;

$gradientLimeadePear: linear-gradient(to bottom, #5BAC00, #CDE31F);
$gradientScienceBlue: linear-gradient(to bottom, #0468C4, #1FADE3);
